@import "tailwindcss";

@theme {
  --color-text-primary: #1a1e23;
  --color-text-secondary: #00000099;
}

@font-face {
  font-family: "Playwrite DK Loopet";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/PlaywriteDKLoopet-Regular.ttf");
}

.logo {
  font-family: "Playwrite DK Loopet", cursive;
}

.custom-info {
  right: 0;
  top: 0;
  background-color: red;
}

.info-card {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 1);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  overflow: hidden;
  width: calc(100% - 32px);
  height: fit-content;
  z-index: 1500;
  padding: 16px;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.MuiCheckbox-root {
  padding: 4px !important;
}

.legend-card {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 1);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  z-index: 1500;
  padding: 16px;
  top: 16px;
  right: 16px;
}

@media (min-width: 576px) {
  .info-card {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .info-card {
    position: absolute;
    bottom: unset;
    left: unset;
    transform: none;
    top: 32px;
    right: 32px;
    max-width: 400px;
  }

  .legend-card {
    top: unset;
    bottom: 32px;
    right: 32px;
  }
}
